.elon-window{
  width: 100%;
  height: 60%;
  background: #6a7d90;
}
.elon-win{
  width: 400px;
  height: 300px;
  border-right:5px solid #000;
  margin-right: 2px;
  padding: 0 4px;
  margin: 0 50px;
} 
.elon-win img{
  width: 100%;
  height: 100%;
}
.elon-title{
  text-align: center;
  padding: 15px 0;
  
}
